<launch>
  <arg name="rviz" default="true"/>
  <arg name="photo" default="true"/>
  <arg name="lidar_topic" default=""/>
  <arg name="imu_topic" default=""/>

  <include file="$(find bievr_lio_ros)/launch/include/mapping_common.launch">
    <arg name="sensor_config_file"
         value="$(find bievr_lio_ros)/../../config/sensor_configs/gamma.yaml"/>
    <arg name="params_file"
         value="$(eval find('bievr_lio_ros') + '/../../config/' + 'params_coin_bievr_avia' + ('' if arg('photo') else '_c0') + '.yaml')"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="lidar_default_topic" value="/livox/lidar"/>
    <arg name="imu_default_topic" value="/livox/imu"/>
    <arg name="lidar_topic" value="$(arg lidar_topic)"/>
    <arg name="imu_topic" value="$(arg imu_topic)"/>
  </include>
</launch>
